<ion-header>
  <ion-toolbar class="toolbar">
    <ion-menu-toggle>
      <ion-button menuToggle> <ion-icon name="menu"></ion-icon> </ion-button>
    </ion-menu-toggle>
    <ion-title class="centre">Error</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex page"><app-under-construction></app-under-construction></div>
</ion-content>
