<ion-header>
    <ion-toolbar class="toolbar">
        <ion-menu-toggle>
          <ion-button menuToggle>
            <ion-icon name="menu"><img src="./assets/icon/menu-24px.svg" style="color: white"><</ion-icon>
          </ion-button>
        </ion-menu-toggle>
      <ion-title class="centre">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content padding>
        <ion-card>
            <ion-card-header>
                <h1>Device</h1>
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    Version: {{version}}
                </ion-item>
                <ion-item>
                    IP: {{deviceIP}}
                </ion-item>
                <ion-item>
                    Device: {{deviceId}}
                </ion-item>
                <ion-item>
                    Cloud: {{cloudVersion}}
                </ion-item>
                <ion-button (click)="factoryReset()">
                    Factory Reset
                </ion-button>
                <ion-button (click)="startSerial('CdcAcmSerialDriver')">
                    start Serial
                </ion-button>
                <ion-button (click)="sendMessage()">
                    sendMessage
                </ion-button>
                <ion-button (click)="sendServeMessage()">
                    test serve
                </ion-button>
                <ion-item>
                    Log: {{logMessage}}
                    Port status: {{portStatus}}
                    Port Data: {{portData}}
                </ion-item>
            </ion-card-content>
        </ion-card>
</ion-content>

