<ion-header>
        <ion-toolbar class="toolbar">
            <ion-menu-toggle>
              <ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
              </ion-button>
            </ion-menu-toggle>
          <ion-title class="centre">Store</ion-title>
        </ion-toolbar>
      </ion-header>
      

<ion-content padding class="background-overlay">
      <!-- <div class="background-wave-overlay">
          <img src="./assets/imgs/page-bottom-wave.svg" >
      </div> -->
      <div class="ocean">
          <div class="wave"></div>
          <div class="wave"></div>
          <div class="wave"></div>
      </div>
      <div class="entry-content">
              <h1>Welcome to Vessel5 Setup</h1>
              <h2>You’re just some steps away from experiencing a new way of store, serve and cool your beer.</h2>
              <ul>
                  <li><b>Monitoring</b><br/>beer level</li>
                  <li><b>Measuring</b><br/>co2 level</li>
                  <li><b>Instant</b><br/>cooling in 300sec</li>
                  <li><b>Order</b><br/>Beverages Online</li>
                  <li><b>Monitoring</b><br/>beer level</li>
              </ul>
              <div class="bullet-points">
                  <img src="assets/imgs/page-bullet-points.svg" >
              </div>
              <div class="v5-btn" >
                  Setup Language, Location and Internet Connection
              </div>
      </div>
              
</ion-content>
