<!-- Generated template for the LanguageComponent component -->
<ul>
    <!-- class="active" style for current language -->
    <li *ngFor="let l of languages" >
        <!-- style="background-image:url(FLAG-URL);" -->
        <div class="flag" ></div>
        {{l.name}}
    </li>
  </ul>