@import "../../../theme/layout.scss";

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  border-radius: 10px;
  height: 240px;
  overflow-y: scroll;

  li {
    display: flex;
    align-items: center;
    .flag {
      width: 40px;
      height: 40px;
      background: rgba($primary, 0.3);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
      margin-right: 15px;
      border-radius: 50%;
    }
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $primary--1;
    &.active {
      font-weight: 600;
      color: $primary;
    }
  }
}
