@import '../../../theme/layout.scss';

.item-input {
  .input-wrapper {
    border-bottom: 1px solid rgba($primary, 0.25);
  }
}
input {
  font-size: 36px;
  font-weight: 400;
  color: $primary--1;
}
.buttons {
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  align-items: flex-end;
  margin-left: 30px;
  .v5-btn {
    margin-bottom: 15px;
    font-size: 28px;
    text-align: center;
    min-height: 100px;
    width: 315px;
    &.create {
      background: $primary--1;
    }
    &.disabled {
      background: $disabled;
      color: $disabled-text
    }
  }
}
.invalid-entry{
  color: red;
  font-size: 10px;
}
