<ion-header>
  <ion-toolbar class="toolbar">
    <ion-menu-toggle>
      <ion-button menuToggle> <ion-icon name="menu"></ion-icon> </ion-button>
    </ion-menu-toggle>
    <ion-title class="centre">User Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background-overlay page-settings">
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>

  <div class="content">
    <div class="v5-btn skip-setup" >Skip Setup</div>
    <header>
      <h1>Administrative Account</h1>
      <div class="back-forward">
        <div class="v5-btn back" >
          <i class="fa fa-fw fa-arrow-left"></i> Prev
        </div>
        <div class="v5-btn forward" >
          Next <i class="fa fa-fw fa-arrow-right"></i>
        </div>
      </div>
    </header>

    <section>
      <article>
          <form [formGroup]="userForm">
            <ion-item>
              <ion-label position="floating">Full Name</ion-label>
              <!-- <ion-input formControlName="fullName" type="fullName"></ion-input> -->
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <ion-label *ngIf="userForm.controls['email'].errors && userForm.controls['email'].dirty" class="invalid-entry" padding>Email is required or not valid.</ion-label>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <ion-label *ngIf="userForm.controls['password'].errors && userForm.controls['password'].dirty" class="invalid-entry" padding>Password is required and less than 30 characters.</ion-label>
          </form>
      </article>

      <article class="buttons">
        <div class="v5-btn">Connect with Facebook</div>
        <div class="v5-btn">Connect with Google</div>
        <div class="v5-btn create" [ngClass]="{'disabled':!userForm.valid}" (click)="login()">Login</div>
      </article>
    </section>
  </div>
</ion-content>
<!-- 
<ion-content padding>
      <ion-card>
          <ion-card-header>
              <h1>Edit User</h1>
          </ion-card-header>
          <ion-card-content>
              <button ion-button (click)="openPrevPage()">
                  Prev
              </button>
              <button ion-button (click)="openNextPage()">
                  Next
              </button>
              <ion-item>
                  <ion-input type="text" placeholder="Full name"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input type="email" placeholder="Email"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input type="password" placeholder="Password"></ion-input>
              </ion-item>
              <button ion-button >
                  Connect with Facebook
              </button>
              <button ion-button >
                  Connect with Google
              </button>
              <button ion-button (click)="openMainPage()">
                  Create
              </button>
              <button ion-button (click)="openMainPage()">
                  Skip Setup
              </button>
          </ion-card-content>
      </ion-card>
</ion-content> -->
