@import '../../../theme/layout.scss';

.map {
    display:flex;
    height:290px;
    background:rgba(0,0,0,.15);
    position: relative;
    z-index: 100;
    border-radius: 10px;
    overflow:hidden;
}

