<div>
  <div class="bar" [ngClass]="_gas.name">
      <div class="percent" [ngStyle]="{ 'width':  (_gas.percentFull*100)+'%' }">
          <div class="green" [ngStyle]="{ 'opacity': ( _gas.percentFull ) }"></div>
          <div class="red" [ngStyle]="{ 'opacity': (1 - _gas.percentFull) }"></div>
      </div>
  </div>
  <div class="title">{{_gas.name}}</div>
  <div class="percent">
      <div class="number">
          {{_gas.percent}}%
      </div>
      <div class="status">
        {{_gas.status}}
      </div>
  </div>
</div>
