div {
        &:before {
            position: absolute;
            left:-12px;
            top:20px;
            height:10px;
            width:16px;
            //background:white;
            //content:"";
            display:block;
            z-index: 100;
        }

        padding:4px;
        display:flex;
        justify-content: flex-end;
        transition: ease 0.25s all;
        overflow:hidden;
        .bar {
            // height:42px;
            border-radius:21px;
            // background:rgba(green,1);
            overflow:hidden;
            position: absolute;
            left:4px;
            top:4px;
            bottom:4px;
            right:4px;
            // overflow:hidden;
            .percent {
                position: absolute;
                left:0;top:0;bottom:0;
                border-radius:21px;
                overflow:hidden;
                background:linear-gradient(to right, #dead05, #fcee00);
                opacity: 0.66;
                .red {
                    position: absolute;
                    top:0;left:0;right:0;bottom:0;
                    background:linear-gradient(to right, rgba(#D00000, 1),rgba( #FF3333, 1));
                    opacity: 0.5;
                    z-index: 50;
                }
                .green {
                    position: absolute;
                    top:0;left:0;right:0;bottom:0;
                    background:linear-gradient(to right, rgba(green, 1),rgba( darkgreen, 1));
                    opacity: 0.5;
                    z-index: 100;
                }
            }

           
        }
       
        .bar {
            &.Nitrogen {
                .percent {
                    .green {
                        background:blue;
                    }
                }
            }
        }
        &.disconnected {
            .title {
                color:#B9B9B9;
            }
            .percent {
                .number {
                    display: none;
                }
                .status {
                    display: block;
                    color:#B9B9B9;
                }
            }
            .bar {
                width:0% !important;
            }
        }
        .title {
            position: absolute;
            left:24px;
            top:4px;
            bottom:4px;
            display:flex;
            justify-content: flex-start;
            align-items: center;
            font-size:22px;
        }
        .percent {
            position: absolute;
            right:24px;
            top:4px;
            bottom:4px;
            display:flex;
            justify-content: flex-start;
            align-items: center;
            font-size:22px;
            .status {
                display: none;
            }
        }
}
