<ion-header>
  <ion-toolbar class="toolbar">
    <ion-menu-toggle>
      <ion-button menuToggle> <ion-icon name="menu"></ion-icon> </ion-button>
    </ion-menu-toggle>
    <ion-title class="centre">Language And Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background-overlay page-settings">
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <div class="v5-btn skip-setup" >Skip Setup</div>
  <header>
    <h1>Language and Location</h1>
    <div class="back-forward">
      <div class="v5-btn back" >
        <i class="fa fa-fw fa-arrow-left"></i> Prev
      </div>
      <div class="v5-btn forward" >
        Next <i class="fa fa-fw fa-arrow-right"></i>
      </div>
    </div>
  </header>
  <section>
    <article>
      <h2>Language</h2>
      <app-language></app-language>
    </article>
    <article>
      <h2>Location</h2>
      <app-location></app-location>
    </article>
  </section>
</ion-content>
