@import '../../../theme/layout.scss';

.click-holder {
    display:flex;
    flex-direction: column;
    flex:1;
    
    &.empty {
        .title-holder {
            background:#CB0000;
        }
        .metadata {
            background:white;
            color:#CB0000;
            .degrees {
                display:none;
            }
            .cups {
                .img {
                    background-image:url("/android_asset/www/assets/imgs/pint-empty.svg");
                }
            }
        }
        .names {
            background:#CB0000;
        }
    }
    &.disconnected {
        .title-holder {
            background:#B9B9B9;
        }
        .metadata {
            background:white;
            color:#B9B9B9;
            .degrees {
                display:none;
            }
            .cups {
                .img {
                    background-image:url("/assets/imgs/pint-disconnected.svg");
                }
            }
        }
        .names {
            background:#B9B9B9;
        }
    }
    &.active {
        div.names {
            &:before {
                content:"";
                display:block;
                position: absolute;
                top:0;left:0;right:0;
                height:12px;
                background:linear-gradient(to bottom, rgba($primary-1,1), rgba($primary-1,0));
            }
            &:after {
                content:"";
                display:block;
                position: absolute;
                bottom:0;left:0;right:0;
                height:12px;
                background:linear-gradient(to bottom, rgba($primary-1,0), rgba($primary-1,1));
            }
        }
    }

    .title-holder {
        background:$primary-1;
        color:white;
        font-size:32px;
        font-weight:300;
        padding:8px 12px;
        border-top-left-radius:8px;
        border-top-right-radius:8px;
        position: relative;
        display:flex;
        .title {
            flex:1;
            text-transform: uppercase;
        }
        .logo {
            display:inline-block;
            margin-top:-8px;
            margin-bottom:-128px;
            margin-right:-12px;
            height:128px;
            width:128px;
            background:white;
            border-radius:8px;
            position: relative;
            z-index: 50;
            box-shadow: 0px 0px 4px 1px rgba(0,0,0,.2);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        
    }
    .metadata {
        // background:linear-gradient(to bottom right, #dead05, #fcee00);
        background:white;
        flex:1;
        color:$primary;
        display:flex;
        flex-direction: column;
        align-items:center;
        line-height: 1;
        position: relative;
        padding:12px;
        padding-top:64px;

        .bar {
            position: absolute;
            bottom:0;
            left:0;
            right:0;
            background:linear-gradient(to bottom right, #dead05, #fcee00);

            .red {
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                background:linear-gradient(to bottom right, rgba(#D00000, 1),rgba( #FF3333, 1));
                opacity: 0;
            }
            .green {
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                background:linear-gradient(to bottom right, rgba(green, 1),rgba( darkgreen, 1));
                opacity: 0;
            }
        }
        
        .temp {
            flex:1;
            display:flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .number {
                font-size:60px;
                letter-spacing:-4px;
            }
            .degrees {
                font-size:75px;
                letter-spacing:-8px;
                opacity: 0.85;
            }
        }
        .cups {
            display:flex;
            padding:8px;
            padding-top:0px;
            align-items: flex-end;
            line-height: 1;
            position: relative;
            .img {
                width:24px;
                height:42px;
                // background:$primary;
                display:inline-block;
                margin-bottom:8px;
                background-size:contain;
                background-position: center bottom;
                background-repeat: no-repeat;
                background-image:url("/assets/imgs/pint.svg");
                &.of-midi {
                    width:18px;
                    height:32px;
                }
            }
            .pint,.midi {
                min-width:30px;
                font-size:24px;
                display:flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                font-weight:500;
                padding: 2px;
            }
            
        }
    }
    .names {
        background:$primary--1;
        color:white;
        font-size:32px;
        font-weight:300;
        padding:8px 12px;
        border-bottom-left-radius:8px;
        border-bottom-right-radius:8px;
        position: relative;
        display:flex;
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
        height:72px;
        overflow:hidden;
        line-height: 1;
        // display: none;
        }
    }
