<div class="click-holder" (click)="select()">
  <div class="title-holder">
    <div class="title">Keg {{ _keg.id }}</div>
    <!-- Put logos in the assets folder, if no logo attached, show placeholder -->
    <div
    class="logo"
    [ngStyle]="{
      'background-image':
        'url(./assets/imgs/' + (_keg.logo ? _keg.logo : 'logo.png') + ')'
    }"></div>
  </div>
  <div class="metadata">
    <!-- I added percentFull variable to calculate the full size of the tank -->
    <div class="bar" [ngStyle]="{ height: _keg.percentFull * 100 + '%' }">
      <!-- <div 
					class="green"
					[ngStyle]="{ opacity: ( _keg.percentFull - 1 ) }"
				></div> -->
      <div class="red" [ngStyle]="{ opacity: 1 - _keg.percentFull }"></div>
    </div>

    <div class="temp">
      <div class="number">
        <!-- Show an X if the status is inactive -->
        {{ _keg.active ? _keg.temp || "-" : "X" }}
        <!-- Degrees will hide if status = inactive -->
        <span class="degrees" *ngIf="_keg.active">&deg;c</span>
      </div>
    </div>

    <div class="cups" *ngIf="_keg.active">
      <div class="pint">
        <div class="img of-pint" style="background-image:url(./assets/imgs/pint.svg)"></div>
        {{ _keg.pint }}
      </div>
      <div class="midi" *ngIf="_keg.active">
        <div class="img of-midi" style="background-image:url(./assets/imgs/pint.svg)"></div>
        {{ _keg.glass }}
      </div>
    </div>
  </div>
  <div class="names" *ngIf="_keg.active">{{ _keg.beerName }}</div>
</div>
