<ion-header>
  <ion-toolbar class="toolbar">
    <ion-menu-toggle>
      <ion-button menuToggle> <ion-icon name="menu"></ion-icon> </ion-button>
    </ion-menu-toggle>
    <ion-title class="centre">Reports</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background-overlay">
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <div class="entry-content">
    <div class="top-options">
      <div class="tabs" *ngFor="let g of _graphOption">
        <div
          id="{{ g.id }}"
          class="tab"
          [ngClass]="{ active: g.selected === true }"
          (click)="setGraphOption($event)"
        >
          {{ g.title }}
        </div>
      </div>
      <div class="dates">
        <div class="from">From</div>
        <div class="date">10/08/2018</div>
        <div class="to">To</div>
        <div class="date">10/08/2018</div>
        <div class="icon"><i class="fa fa-calendar"></i></div>
      </div>
    </div>

    <div class="range-select">
      <div class="buttons" *ngFor="let p of _graphPeriod">
        <div
          id="{{ p.id }}"
          class="button"
          [ngClass]="{ active: p.selected === true }"
          (click)="setGraphPeriod($event)"
        >
          {{ p.title }}
        </div>
      </div>

      <div class="send-by-email">
        <div>Send by Email <i class="fa fa-send"></i></div>
      </div>
    </div>
    <div class="graph-holder">
      <app-chart #chart1 graphType="line" [graphData]="_barData"></app-chart>
    </div>
  </div>
</ion-content>
