@import "../../../theme/layout.scss";

ion-content {
  display: flex;
  .entry-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    .top-options {
      display: flex;
      flex-direction: row;
      .tabs {
        flex: 1;
        display: flex;
        flex-direction: row;
        font-size: 28px;
        color: $primary;
        .tab {
          padding: 8px 12px;
          &.active {
            border-bottom: 2px solid $primary;
            font-weight: 600;
          }
        }
      }
      .dates {
        display: flex;
        flex-direction: row;
        font-size: 26px;
        color: $primary;
        .from,
        .to,
        .date,
        .icon {
          padding: 8px 8px;
        }
        .date {
          border-bottom: 1px solid $primary;
        }
      }
    }
  }
}
.range-select {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  .send-by-email {
    font-size: 28px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary;
    i {
      margin-left: 5px;
    }
  }
  .buttons {
    flex: 1;
    display: flex;
    .button {
      flex: 1;
      padding: 15px;
      background: rgba($primary, 0.25);
      color: $primary;
      font-size: 28px;
      & + .button {
        margin-left: 10px;
      }
      &.active {
        background: $primary;
        color: white;
      }
    }
  }
}

.graph-holder {
  height: calc(100vh - 93px - 50px - 45px);
  border: 1px solid rgba($primary, 0.5);
  border-radius: 5px;
  background: rgba($primary, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 100px;
  color: white;
}

