

// colours
$primary: #00578A;
$primary-1: #002c49;
$primary--1: #0082CE;
$secondary: #d72055;
$primary-font: #ccc;
$disabled: #5c8eaa;
$disabled-text: #5caaa0

:root {
	--background: $primary;
}


.content-md {
  	color: #000;
	background:linear-gradient(white, #bfcfda);
	background-size:cover;
	background-repeat: no-repeat;
}

body {
	font-size: 18px;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	
	h1 {
		font-size:4.25em;
		color:$primary;
	}
	h2 {
		font-size:3.5em;
		color:$primary;
	}
	h3 {
		font-size:2.75em;
	}
	h4 {
		font-size:2em;
	}
	h5 {
		font-size:1.5em;
	}
	p {
		font-size:1.5em;
	}
}

.m {
	&-t {
		&-0 {
			margin-top:0em;
		}
		&-1 {
			margin-top:1em;
		}
		&-2 {
			margin-top:2em;
		}
		&-3 {
			margin-top:3em;
		}
		&-5 {
			margin-top:5em;
		}
		&-10 {
			margin-top:10em;
		}
	}
	&-b {
		&-0 {
			margin-bottom:0em;
		}
		&-1 {
			margin-bottom:1em;
		}
		&-2 {
			margin-bottom:2em;
		}
		&-3 {
			margin-bottom:3em;
		}
		&-5 {
			margin-bottom:5em;
		}
		&-10 {
			margin-bottom:10em;
		}
	}
	&-l {
		&-0 {
			margin-left:0em;
		}
		&-1 {
			margin-left:1em;
		}
		&-2 {
			margin-left:2em;
		}
		&-3 {
			margin-left:3em;
		}
		&-5 {
			margin-left:5em;
		}
		&-10 {
			margin-left:10em;
		}
	}
	&-r {
		&-0 {
			margin-right:0em;
		}
		&-1 {
			margin-right:1em;
		}
		&-2 {
			margin-right:2em;
		}
		&-3 {
			margin-right:3em;
		}
		&-5 {
			margin-right:5em;
		}
		&-10 {
			margin-right:10em;
		}
	}
}
.p {
	&-1 {
		padding:1em;
	}
	&-2 {
		padding:2em;
	}
	&-3 {
		padding:3em;
	}
	&-5 {
		padding:5em;
	}
	&-10 {
		padding:10em;
	}

	&-t {
		&-0 {
			padding-top:0em;
		}
		&-1 {
			padding-top:1em;
		}
		&-2 {
			padding-top:2em;
		}
		&-3 {
			padding-top:3em;
		}
		&-5 {
			padding-top:5em;
		}
		&-10 {
			padding-top:10em;
		}
	}
	&-b {
		&-0 {
			padding-bottom:0em;
		}
		&-1 {
			padding-bottom:1em;
		}
		&-2 {
			padding-bottom:2em;
		}
		&-3 {
			padding-bottom:3em;
		}
		&-5 {
			padding-bottom:5em;
		}
		&-10 {
			padding-bottom:10em;
		}
	}
	&-l {
		&-0 {
			padding-left:0em;
		}
		&-1 {
			padding-left:1em;
		}
		&-2 {
			padding-left:2em;
		}
		&-3 {
			padding-left:3em;
		}
		&-5 {
			padding-left:5em;
		}
		&-10 {
			padding-left:10em;
		}
	}
	&-r {
		&-0 {
			padding-right:0em;
		}
		&-1 {
			padding-right:1em;
		}
		&-2 {
			padding-right:2em;
		}
		&-3 {
			padding-right:3em;
		}
		&-5 {
			padding-right:5em;
		}
		&-10 {
			padding-right:10em;
		}
	}
}

.text {
	&-left {
		text-align: left;
	}
	&-right {
		text-align: right;
	}
	&-center {
		text-align: center;
	}
	&-primary {
		color:$primary;
	}
	&-sm {
		font-size:1em;
	}
	&-xs {
		font-size:0.85em;
	}
	
}
.line-height-1 {
	line-height: 1;
}

.btn {
	padding:0.5em 1em;
	color:white;
	background:radial-gradient(#00446f, #002c49);
	border-radius:0.5em;
	box-shadow: 0 0.25em 0.75em 0 rgba(0,0,0,0.33);
	font-size:2.25em;
	transition: ease 0.25s all;
	text-align: center;

	&.sm {
		font-size:1.75em;
	}
	&.xs {
		font-size:1.25em;
	}

	&.blue {
		background:radial-gradient(#0077bf, #004f7f);
	}
	&.green {
		background:radial-gradient(#269630, #20670d);
	}
	&.white {
		background: rgba(255,255,255,1);
		color:$primary;
		padding: 0.5em;
		font-weight:500;
		&:focus ,&:active {
			box-shadow: 0 0em 0em 0 rgba(0,0,0,0.33);
			background:rgba(255,255,255,0.9);
			font-weight:400;
		}
	}

	.icon {
		display:inline-block;
		height:4em;
		width:4em;
		background-color:#ccc;
		background-size:contain;
		background-position: center;
	}

	&:focus ,&:active {
		box-shadow: 0 0em 0.75em 0 rgba(0,0,0,0.66);
		background:radial-gradient(#005991, #00446f);
	}
}



// Content Layouts



.flex {
	font-size:1.25em;
	color: $primary-font;
	
	display: flex;
	flex-grow: 1;
	flex-direction: column;

	&.page {
		position: absolute;
		bottom:0;right:0;top:0;left:0;
		flex-direction: row;
		background-image: url("/assets/imgs/background-image.svg");
	}
	&.grow,.grow {
		flex-grow:1;
	}

	&.abs {
		position: absolute;
		bottom:0;right:0;top:0;left:0;
		overflow-x: hidden;
    	overflow-y: scroll;
	}

	&.relative,.relative {
		position: relative;
	}

	&.v-center,.v-center {
		justify-content: center;
	}
	&.h-center,.h-center {
		align-items: center;
	}

	&.col {
		flex: 1;
	  }
	&.row {
		flex-direction: row;
	}
	&.w-100,.w-100 {
		width:100%;
	}

	&.h-100,.h-100 {
		height:100vh;
	}
	&.h-50,.h-50 {
		height:50vh;
	}
	&.h-33,.h-33 {
		height:33vh;
	}
	&.h-25,.h-25 {
		height:25vh;
	}

	&.h-20,.h-20 {
		height:20vh;
	}

	&.w-90{
		flex-grow: 1;
		flex-basis: 90%;
	}

	&.w-10{
		flex-grow: 1;
		flex-basis: 10%;
	}

	&.w-50,.w-50 {
		flex-grow: 1;
		flex-basis:50%;
	}
	&.w-33,.w-33 {
		flex-grow: 1;
		flex-basis:33%;
	}
	&.w-25,.w-25 {
		flex-grow: 1;
		flex-basis:25%;
	}

	.content {
		// display: flex;
		// flex-direction: column;
		// align-items: center;
		color:#00263d;
		text-align: center;
		
		p {
			color:#004f7f;
			margin-top:0;
		}
		.price {
			font-size:4.25em;
		}
		.buttons {
			display: block;
			margin-bottom:2em;
			.btn {
				margin-left:0.5em;
				margin-right:0.5em;
				width:7.5em;
				display:inline-block;
			}
		}
	}
	.header {
		background:#00263d;
		background-image:url('/android_asset/www/assets/imgs/bg-dark.png');
		background-size:cover;
		background-repeat: no-repeat;
		color:white;
		min-height:25vh;
		box-shadow: inset 0px -1.25em 2.5em 0px rgba(0,0,0,.25);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		
		img {
			max-height:10vh;
		}
	}
}


// Customisations
body .swiper-slide {
	align-items:flex-start;
}




.smart-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 30vh 30vh 30vh;
	grid-gap: 2rem;
	padding:2rem;

	.box {
		background-color: $primary-1;
		color: #fff;
		// display:flex;
		// justify-content: center;
		// align-items: center;
		padding:2rem;

		h4 {
			margin:0;
			font-weight:400;
		}

		p {
			font-size:2.5rem;
			margin-bottom:1rem;
		}

		&.first {
			grid-row-start: 1;
			grid-row-end:   3;
			grid-column-start: 1;
			grid-column-end:   3;
			background-color: $primary;
			
		}
		&.second {
			grid-column-start:3;
			grid-column-end:5;
			
		}
		&.third {
			grid-column-start:3;
			grid-column-end:5;
			
		}
		&.fourth {
			grid-row-start: 1;
			grid-row-end:3;
			grid-column-start:5;
			
		}
		&.tall {
			grid-column-start: 1;
			grid-column-end:   3;
		}
		&.secondary {
			background:$secondary;
			h2,h1 {
				color:white;
			}

		}
	}
		
}

  


.entry-content {
	text-align: center;
	z-index: 100;
	position: relative;
	h1 {
		font-size:36px;
		font-weight: 500;
		padding-top:20px;
	}
	h2 {
		margin-top:20px;
		font-size:26px;
		font-weight:400;
		padding-left:100px;
		padding-right:100px;
	}
	ul {
		list-style: none;
		display:flex;
		padding:0;
		margin-top:20px;
		li {
			flex:1;
			font-size:20px;
			color:$primary;
			font-weight:300;
			text-transform: capitalize;
		}
	}
	.bullet-points{
		padding-left:80px;
		padding-right:80px;
		margin-bottom:45px;
	}
	
}

.v5-btn {
	font-size:20px;
	color:white;
	background:$primary;
	padding:10px 20px;
	border-radius:5px;
	display:inline-flex;
	max-width: 420px;
	text-transform: uppercase;
	cursor:pointer;
	justify-content: center;
	align-items: center;
}

.background-overlay {
	background-color:white;
	background-size:244px 357px;
	background-position: center;
	background-repeat: no-repeat;
	background-image:url('/assets/imgs/page-center-logo.svg');
}

.background-wave-overlay {
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	img {
		width:100vw;
	}
}

.ocean { 
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:100;

	&.top {
		bottom:inherit;
		top:-100px;
		&.over {
			bottom:inherit;
			top:0px;
			.wave {
				background-image: url('/assets/imgs/wave-reverse.svg'); 
			}
		}
	}
	

  
  .wave {
	background-image: url('/assets/imgs/wave.svg'); 
	background-position: 0vw 100%;
	background-size:75vw 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	animation: wave 36s linear infinite;
	overflow:hidden;

	

	&.header {
		bottom:inherit;
		top:0px;
	}

	&.page {
		bottom:0px;
	}

	&.bottom {
		background-image: url('/assets/imgs/wave-reverse.svg'); 
		top:initial;
		bottom:-100px;
		&.over {
			bottom:0px;
			background-image: url('/assets/imgs/wave.svg'); 
		}
		
	}
	&.dark {
		background-image: url('/assets/imgs/wave-reverse-dark.svg'); 
	}
	&.green {
		background-image: url('/assets/imgs/wave-reverse-green.svg'); 
	}
	&:nth-child(1){
		// display:none;
		background-image: url('/assets/imgs/wave-two.svg'); 
	}

	&:nth-child(2){
		animation: wave2 32s linear infinite, swell 32s linear infinite;
		
		// display:none;
	}
	&:nth-child(3){
		animation: wave3 36s linear infinite, swell2 24s linear infinite;
		// display:none;
		background-image: url('/assets/imgs/wave-two.svg'); 
	}
  }

}
  
  
  @keyframes wave {
	0% {
		background-position: 0vw 100%;
	}
	100% {
		background-position: 150vw 100%;
	  }
  }

  @keyframes wave2 {
	0% {
		background-position: 25vw 100%;
	}
	100% {
		background-position: 175vw 100%;
	  }
  }

  @keyframes wave3 {
	0% {
		background-position: 150vw 100%;
	}
	100% {
		background-position: 0vw 100%;
	  }
  }

  @keyframes swell {
	0%, 100% {
		// transform: translate3d(0,32px,0);
	}
	50% {
	  transform: translate3d(0,0,0);
	}
  }

  
  @keyframes swell2 {
	0%, 100% {
		transform: translate3d(0,0px,0);
	}
	50% {
	//   transform: translate3d(0,32px,0);
	}
  }

  ion-header {
	  border-color:$primary;
	  box-shadow: 0px 0px 16px 0px rgba(0,0,0,.3);
	  min-height: 55px;
  }

.page-settings {
	.content {
		position: relative;
		z-index: 100;
	}

	.skip-setup {
		position: fixed;
		bottom:15px;
		left:15px;
		z-index: 100;
		font-size:30px;
	}
	.select-wifi {
		background-color:white;
		border:1px solid rgba($primary, 0.3);
		padding:15px;
		border-radius:10px;
		margin-bottom:15px;
	}
	.item-md {
		background-color:transparent;
		&.toggle-connection {
			margin-right:15px;
			background-color:white;
			border:1px solid rgba($primary, 0.3);
			border-radius: 10px;
			margin-bottom:15px;
			width: initial;
		}
		.label {
			font-size:28px;
			color:$primary;
			font-weight: 400;
		}
		&.item-block {
			.item-inner {
				border-bottom:0;
			}
		}
	}
	section {
		display:flex;
		article {
			flex:1;
			h2 {
				font-size:36px;
				font-weight:400;
				color:$primary--1;
			}
			h3 {
				font-size:28px;
				color:$primary;
				font-weight: 400;
			}
		}
	}
	header {
		display:flex;
		margin-bottom:15px;
		h1 {
			flex:1;
			font-size:48px;
			margin-bottom:0;
			font-weight:400;
		}
		
		.back-forward {
			display:flex;
			.v5-btn {
				margin-left:15px;
				min-width:150px;
				background: $primary--1;
				font-size:30px;
			}
		}
	}
}