@import "../../../theme/layout.scss";

.content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: row;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  header {
    display: flex;
    // border:1px dashed rgba(0,0,0,0.5);
    margin-bottom: 24px;
    section {
      flex: 1;
    }
    .logo {
      width: 128px;
      height: 128px;
      // border:1px solid red;
      background: white;
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    h1 {
      font-size: 48px;
      font-weight: 400;
      margin: 0;
      line-height: 1;
    }
    h2 {
      font-size: 36px;
      font-weight: 400;
      color: $primary--1;
      margin: 0;
      // line-height: 1;
    }
    summary {
      font-size: 26px;
      color: $primary;
    }
  }
  article {
    flex: 1;
    // border:1px solid blue;
    font-size: 26px;
    overflow-y: scroll;
    line-height: 1.25;
    .spacer {
      height: 100px;
    }
  }
  position: relative;

  &:before {
    position: absolute;
    content: "";
    display: block;
    bottom: 24px;
    right: 0;
    left: 0;
    height: 64px;
    background: linear-gradient(to top, rgba(#bfcfda, 1), rgba(#bfcfda, 0));
  }
}
aside {
  flex: 1;
  // border:1px dashed rgba(0,0,0,0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 24px;
    a {
      display: inline-flex;
      font-size: 26px;
      padding: 8px 12px;
      font-weight: 500;
      text-decoration: none;
      &.active {
        border-bottom: 2px solid $primary--1;
      }
    }
  }
  article {
    flex: 1;
    position: relative;
    .chart-container {
      min-height: 80%;
      background-color: blue;
    }
  }
}
