<ion-header>
  <ion-toolbar class="toolbar">
    <ion-menu-toggle>
      <ion-button menuToggle> <ion-icon name="menu"></ion-icon> </ion-button>
    </ion-menu-toggle>
    <ion-title class="centre">Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <main>
      <app-select-keg
        [selectedKeg]="_keg"
        [changingKeg]="_changingKeg"
      ></app-select-keg>
    </main>
    <aside>
      <div class="back-forward right">
        <div class="v5-btn back" (click)="back()">
          <i class="fa fa-fw fa-arrow-left"></i> Back
        </div>
      </div>
      <nav>
        <a [ngClass]="_dayChart ? 'active' : ''" (click)="toggleChart()"
          >24 hours</a
        >
        <a [ngClass]="!_dayChart ? 'active' : ''" (click)="toggleChart()"
          >7 Days</a
        >
      </nav>
      <article>
        <div class="chart-container">
          <app-chart
            graphType="line"
            [graphData]="_dayData"
            [graphOptions]="_graphOptions"
          ></app-chart>
          <app-chart
            graphType="line"
            [graphData]="_hourData"
            [graphOptions]="_graphOptions"
          ></app-chart>
        </div>
        <div class="v5-btn" (click)="changeKegRequest()">
          Change Keg
        </div>
      </article>
    </aside>
  </div>
</ion-content>
