<ion-app>
  <ion-menu type="overlay" side="start" contentId="menuContent">
    <ion-header>
      <ion-toolbar> <ion-title>Menu</ion-title> </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list class="menu-inner">
        <ion-button
          menuClose
          ion-item
          tappable
          *ngFor="let p of pages"
          (click)="openPage(p)"
        >
          <i class="fa fa-{{ p.icon }}"></i> {{ p.title }}
        </ion-button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav [root]="" #content swipeBackEnabled="false"></ion-nav>

  <ion-router-outlet root id="menuContent"></ion-router-outlet>
</ion-app>
