<header *ngIf="_keg && !_changingKeg">
  <section>
    <div>
      <h1>{{ _keg.name }}</h1>
      <h2>{{ _keg.brand }} </h2>
      <summary> {{ _keg.stength }}% Alc/Vol </summary>
    </div>
  </section>
  <div
    class="logo"
    [ngStyle]="{
      'background-image':
        'url(./assets/imgs/' + (_keg.logo ? _keg.logo : 'logo.png') + ')'
    }"
  ></div>
</header>
<article *ngIf="_keg && !_changingKeg">
  {{ _keg.description }}
  <div class="spacer"></div>
</article>

<header *ngIf="_changingKeg">
  <section>
    <h1 class="">Select beverage from the list</h1>
  </section>
</header>
<article *ngIf="_changingKeg">
    <ion-list>
        <ion-item *ngFor="let b of _beverages" (click)="selectKeg($event, b)">
          <ion-label text-wrap>
            {{b.name}}
          </ion-label>
          <img class="small-logo" src="./assets/imgs/logo.png">
        </ion-item>
      </ion-list>
</article>
