@import "../../../theme/layout.scss";

header {
    display: flex;
    // border:1px dashed rgba(0,0,0,0.5);
    margin-bottom: 24px;
    section {
        flex: 1;
    }
    .logo {
        width: 128px;
        height: 128px;
        // border:1px solid red;
        background: white;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    h1 {
        font-size: 48px;
        font-weight: 400;
        margin: 0;
        line-height: 1;
    }
    h2 {
        font-size: 36px;
        font-weight: 400;
        color: $primary--1;
        margin: 0;
        // line-height: 1;
    }
    summary {
        font-size: 26px;
        color: $primary;
    }
  }
  article {
    flex: 1;
    // border:1px solid blue;
    font-size: 26px;
    overflow-y: scroll;
    line-height: 1.25;
    .spacer {
      height: 100px;
    }
    ion-list {
        max-height: 400px;
        .small-logo {
            height: 50px;
            width: 50px;
        }
    }
}