@import '../../../theme/layout.scss';

ul {
    list-style: none;
    margin:0;
    padding:0;
    margin-right:15px;
    border-radius:10px;
    height:240px;
    overflow-y:scroll;

    li {
        display:flex;
        align-items: center;
        font-size:26px;
        padding-top:10px;
        padding-bottom:10px;
        color:$primary;
        &.active {
            font-weight:600;
            color:$primary;
        }
    }
}