<ion-header>
  <ion-toolbar class="toolbar">
    <ion-menu-toggle>
      <ion-button menuToggle> <ion-icon name="menu"></ion-icon> </ion-button>
    </ion-menu-toggle>
    <ion-title class="centre">Connection Setup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background-overlay page-settings">
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>

  <div class="content">
    <div class="v5-btn skip-setup" >Skip Setup</div>
    <header>
      <h1>Connection</h1>
      <div class="back-forward">
        <div class="v5-btn back" >
          <i class="fa fa-fw fa-arrow-left"></i> Prev
        </div>
        <div class="v5-btn forward" >
          Next <i class="fa fa-fw fa-arrow-right"></i>
        </div>
      </div>
    </header>

    <section>
      <article>
        <ion-item class="toggle-connection">
          <ion-label> <i class="fa fa-fw fa-wifi"></i> Wifi </ion-label>
          <ion-toggle [(ngModel)]="wifiEnabled"></ion-toggle>
        </ion-item>
        <ion-item class="toggle-connection">
          <ion-label>
            <i class="fa fa-fw fa-bluetooth"></i> Bluetooth
          </ion-label>
          <ion-toggle [(ngModel)]="bluetoothEnabled"></ion-toggle>
        </ion-item>
      </article>
      <article>
        <div [hidden]="!wifiEnabled">
          <app-network-setup></app-network-setup>
        </div>
        <div [hidden]="!bluetoothEnabled">
          <app-bluetooth-setup></app-bluetooth-setup>
        </div>
      </article>
    </section>
  </div>
</ion-content>

<!-- <ion-card>
      <ion-card-header>
          <h1>Connection</h1>
      </ion-card-header>
      <ion-card-content>
          <button ion-button (click)="openPrevPage()">
              Prev
          </button>
          <button ion-button (click)="openNextPage()">
              Next
          </button>
          <ion-item>
              <ion-label>Wifi</ion-label>
              <ion-toggle [(ngModel)]="wifiEnabled"></ion-toggle>
          </ion-item>
          <ion-item [hidden]="!wifiEnabled">
              <div>
                  <network-setup></network-setup>
              </div>
          </ion-item>
          <ion-item>
              <ion-label>Bluetooth</ion-label>
              <ion-toggle [(ngModel)]="bluetoothEnabled"></ion-toggle>
          </ion-item>
          <ion-item [hidden]="!bluetoothEnabled">
              <div>
                  <bluetooth-setup></bluetooth-setup>
              </div>
          </ion-item>
          <button ion-button (click)="openMainPage()">
              Skip Setup
          </button>
      </ion-card-content>
  </ion-card> -->
