<ion-header>
  <ion-toolbar class="toolbar">
    <ion-menu-toggle>
      <ion-button menuToggle><ion-icon name="menu"><img src="./assets/icon/menu-24px.svg" style="color: white"></ion-icon></ion-button>
    </ion-menu-toggle>
    <ion-title class="centre">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="kegs-page">

    <div *ngIf="!serialEnabled" class="flex h-center v-center w-100 h-100 p-1" >
      <h2>Please wait, connecting...</h2>
      <ion-button (click)="startSerial()">
        Start
      </ion-button>
      <ion-button (click)="fakePermission()">
          fake Start
      </ion-button>
      </div>

    <div class="kegs" *ngIf="serialEnabled">
      <!-- Status set in keg class:
              none = active
              empty = red colour set
              disconnected = grey colour set
          -->
        <app-keg-status
        *ngFor="let keg of Kegs; let index = index"
        class="keg {{ keg.active ? 'active' : 'disconnected' }}"
        [keg]=keg
        (selected)="selectKeg(keg)"
      ></app-keg-status>
    </div>
    <div class="gasses" *ngIf="serialEnabled">
      <!-- Toggle class disconnected with status, will grey text and hide bar -->
      <div class="padding"></div>
      <div *ngFor="let gas of Gases; let index = index">
        <app-gas-status class="gas" [gas]="gas"></app-gas-status>
        <div class="padding"></div>
      </div>
    </div>
    <div class="padding"></div>
  </div>
</ion-content>
