@import '../../../theme/layout.scss';
$primary: #00446f;
$primary-1: #002c49;
$secondary: #d72055;

.toolbar-container {
      background-color: black;
}

page-main h3{
    font-size: 1.5em;
    text-align: center;
}

p{
    margin: 0;
}

ion-card.right{
    border-radius: 15px 15px;
    padding: 20px 10px;
    position: relative;
}

.pint h2{
    font-weight: bold;
    margin: 10px 0;
    font-size: 1.3em;
}

.keg{
    position: relative;
}

.outline{
    z-index: 100;
}


#Layer_1{
    position: absolute;
    z-index: 0;
    fill: red;
    height: 100px;
}


.transparent{
    width: 116.8px;    
    z-index: 1;
    background:#002c49;
    position: absolute;
}

.top{
    border-bottom: 1px solid #c8d7e0;
}

.left{
    border-right: 1px solid #c8d7e0;
}


#temp{
    padding: 5px;
    width: auto;
}

.abs-beer {
    position:absolute;
    left:calc(12.5rem + 15px);
    width:340px;
    top:15px;
    height:375px;
    background:$primary;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow:hidden;
    padding:2rem;
    color:white;
    text-align: center;
    font-size:1.5em;
}

.abs-status {
    position:absolute;
    left: calc(12.5rem + 15px + 340px + 15px);
    width:340px;
    top:15px;
    height:180px;
    overflow:hidden;
    background:$primary-1;
    z-index: 1000;
    display:flex;
    vertical-align: center;
    flex-grow: 1;
    flex-direction: column;
    padding:20px;
    color:white;
    text-align: center;

    img {
        height:100px;
    }

    .svgHolder {
        z-index:0;
        position:absolute;
        height:100px;
        top:20px;
        left:50%;
        margin-left:-39px;
        
    }
}

.abs-co {
    position:absolute;
    left: calc(12.5rem + 15px + 340px + 15px + 340px + 15px);
    width:160px;
    top:15px;
    height: calc(180px + 15px + 180px);
    overflow:hidden;
    background:$primary-1;
    z-index: 1000;
    display:flex;
    vertical-align: center;
    flex-grow: 1;
    flex-direction: column;
    padding:20px;
    color:white;
    justify-content: center;
    // display:none;
    text-align: center;
    img {
        position: relative;
        z-index: 100;
    }
    .svgHolder {
        z-index:0;position:absolute;
        margin-top:-150px;
        margin-left:-18px;
        left:50%;
        width:35px;
        height:150px;
    } 
}

.abs-minmax {
    position:absolute;
    left: calc(12.5rem + 15px + 340px + 15px);
    width:340px;
    top: calc(15px + 180px + 15px);
    height:180px;
    overflow:hidden;
    background:$primary-1;
    z-index: 1000;
    display:flex;
    vertical-align: center;
    flex-grow: 1;
    flex-direction: column;
    padding:20px;
    color:white;
    justify-content: center;
    text-align: center;
    img {
        position: relative;
        z-index: 100;
    }
    .svgHolder {
        z-index:0;position:absolute;margin-top:-60px;margin-left:-18px;left:50%;width:35px;height:150px;
    } 
}

.abs-notification {
    position:absolute;
    left:calc(12.5rem + 15px);
    width:160px;
    top: calc(15px + 180px + 15px + 180px + 15px);
    height:180px;
    overflow:hidden;
    background:$secondary;
    z-index: 1000;
    display:flex;
    vertical-align: center;
    flex-grow: 1;
    flex-direction: column;
    padding:20px;
    color:white;
    justify-content: center;
    text-align: center;
    h3,h1 {
        color:white;
    }
}


.abs-last-2 {
    position:absolute;
    left:calc(12.5rem + 15px + 180px);
    width:160px;
    top: calc(15px + 180px + 15px + 180px + 15px);
    height:180px;
    overflow:hidden;
    background:$primary-1;
    z-index: 1000;
    display:flex;
    vertical-align: center;
    flex-grow: 1;
    flex-direction: column;
    padding:20px;
    color:white;
}

.abs-last-3 {
    position:absolute;
    left:calc(12.5rem + 15px + 160px + 15px + 160px + 20px);
    width:160px;
    top: calc(15px + 180px + 15px + 180px + 15px);
    height:180px;
    overflow:hidden;
    background:$primary-1;
    z-index: 1000;
    display:flex;
    vertical-align: center;
    flex-grow: 1;
    flex-direction: column;
    padding:20px;
    color:white;
    text-align: center;
    
}

.abs-last-4 {
    position:absolute;
    left:calc(12.5rem + 15px + 160px + 15px + 160px + 20px + 160px + 20px);
    width:160px;
    top: calc(15px + 180px + 15px + 180px + 15px);
    
    height:180px;
    overflow:hidden;
    background:$primary-1;
    z-index: 1000;
    display:flex;
    vertical-align: center;
    flex-grow: 1;
    flex-direction: column;
    padding:20px;
    color:white;
}

.abs-celcious {
    position:absolute;
    left:calc(12.5rem + 15px + 160px + 15px + 160px + 20px + 160px + 20px + 160px + 15px);
    width:160px;
    top: calc(15px + 180px + 15px + 180px + 15px);
    height:180px;
    overflow:hidden;
    background:$primary;
    z-index: 1000;
    display:flex;
    vertical-align: center;
    flex-grow: 1;
    flex-direction: column;
    padding:20px;
    color:white;
    justify-content: center;
    text-align: center;
}

// Adrians changes
.kegs-page {
    background:linear-gradient(to bottom right, $primary, $primary-1);
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    display:flex;
    flex-direction: column;
    .kegs {
        flex:1;
        display:flex;
        padding:12px 6px;
        padding-bottom:0px;
        // padding-top:24px;
        .keg {
            background-color:#CB0000;
            flex:1;
            margin:6px;
            margin-bottom:0;
            display:flex;
            flex-direction: column;       
            }
        }
    }
    .gasses {
        padding:12px 6px;;
        // padding-top:6px;
        display:flex;
        // background:rgba(blue,0.5);
        .padding {
            width:8.33%;
        }
        .gas {
            width:400px;
            height:50px;
            background:white;
            margin-left:6px;
            margin-right:6px;
            border-radius:25px;
            margin-left:18px;
            flex:1;
            // background-image:url('./assets/imgs/tank.svg');
            background-size:contain;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            &:before {
                position: absolute;
                left:-12px;
                top:20px;
                height:10px;
                width:16px;
                background:white;
                content:"";
                display:block;
                z-index: 100;
            }

            padding:4px;
            display:flex;
            justify-content: flex-end;
            transition: ease 0.25s all;
            overflow:hidden;
        }
}
