// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$font-path: "../assets/fonts";
@import './theme/layout.scss';

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$list-md-border-color : #FFFFFF;

// Settings added to prevent flashing on keyboard
body{
    position: inherit;
    margin: 1px;
}

.md .button{
  border-radius: 8px;
}
.background, .tabs-md .tabbar{
    background-color: rgb(0,0,0);// rgb(0,38,61);
}


ion-menu-toggle { float: left; }


.toolbar { 
    --ion-background-color: $primary-1;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    color: white;

    .toolbar-md {
        padding:0;
    }
    .toolbar-md {
        min-height:40px;
    }
    .bar-button-menutoggle {
        background:red;
        height:45px;
        margin-left:0px;
        padding-left:20px;
        padding-right:20px;
        background-color:$primary--1;
    }
    
    
}

.menu-inner {
    ion-button {
        
        font-size:22px;
        padding:6px 24px;
        color:$primary;
        i {
            min-width:36px;
        }

        button.button-native {
            background-color : transparent;
        }            
    }
}

.heading{
  position: fixed;
  text-align: center;
  font-size: 30px;
  left: 240px;
  color: white;
}
//makes the scroll bar invisible 
.no-scroll .scroll-content{ 
     overflow: hidden;
}

.list-md[inset]{
    margin: 0px 0px 10px 0px;        
}
.list-md .item-block {
    border-bottom: 1px solid $list-md-border-color;
}
.list-md .item-block .item-inner {
    border-bottom: 0;
}
.ion-toolbar .header .header-md{
    margin-bottom: 10px;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    background: $primary;
}
ion-header{
    height: 45px;
    background-color: $primary;
}
ion-header ion-navbar{
        height :100%;
}

// -------  Validation design  ------ //

.invalid {
    border: 1px solid #ea6153;
}

.validationText{
    height: 20px !important;
    p{
        color: #ea6153 !important;
    };   
}
.validationText .item-md {
    background-color: transparent !important;
}
.validationText .item-block {
    background-color: transparent !important;
    min-height: 0px;
}

.validationText .item-md .item-inner .input-wrapper .label-md {
    font-size: small;
    margin: 0px;
}

// -------  Forms design  ------ //
.containerCentre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vessel_logo_sm {
    margin-left: 10px;
    width:62px;
    height:74px;
}

.firstLevelButtons{
    padding-top: 100px;
    height: 200px;
}

.secondLevelButtons{
    margin-top: 10px;
}
.secondLevelButtons .button{
    margin-top: 0px;
    margin-left: 0px;
}

// -------  button  ------ //
.custom-button{
    border: none;
    letter-spacing: 2px;
    color: #FFFFFF;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

// -------  custom prompt  ------ //
.custom-prompt{
    .alert-wrapper{
max-width: 70%;
height: 60%;
    }
.alert-title{
    font-size: 4em !important;
    color: red;
}
.alert-message{
    font-size: 4em;
    max-height: 80%;
    padding: 0 30px 30px 30px;
    color: black;
}
.alert-button-group{
    padding: 0 30px 30px 30px;
        .alert-button{
        font-size:3em;
        background-color: rgb(0,192,203);
        color: white;
        padding: 24px 50px 24px 50px;
        }
    }
}

// -------  Validation design  ------ //
