@import "../../../theme/layout.scss";

$logo-Heigth: 250px;

.small-icon {
  font-size: 2em;
  padding-top: calc(100vh - $logo-Heigth);
  padding-right: 2em;
}

.start-logo {
  height: $logo-Heigth;
}
