<ion-header>
    <ion-toolbar class="toolbar">
        <ion-menu-toggle>
          <ion-button menuToggle>
            <ion-icon name="menu"><img src="./assets/icon/menu-24px.svg" style="color: white"><</ion-icon>
          </ion-button>
        </ion-menu-toggle>
      <ion-title class="centre">Start</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <div class="flex page">
    <div class="flex v-center h-center">
      <ion-card>
        <ion-card-title>Starting..</ion-card-title>
        <ion-card-header> <h1>Vessel5 Startup</h1> </ion-card-header>
        <ion-card-content>
          Status message:
          <ion-icon name="document" class="small-icon"></ion-icon>status
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
